.home-page {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding-bottom: 160px;
  .home-top {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 24px;
    .title {
      font-size: 30px;
      color: #333;
    }
  }
  .home-in-flag {
    margin: 0 -10px;
    .at-card {
      margin: 0 10px;
      margin-bottom: 20px;
      .at-card__header-title {
        font-size: 24px;
      }
      .at-card__content-note.hydrated {
        font-size: 14px;
      }
    }
    .flag-content {
      .flag-content-top {
        font-size: 24px;
        line-height: 30px;
        height: 60px;
        margin-bottom: 20px;
      }
      .flag-content-bottom {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
